local.properties
.classpath
.project
.settings/
.idea/
consensus-microdesc
certificates
cached-microdescs
state
*.config
*.spvchain
*.wallet
*.orig
PairingQRCode.png
bin/
gen/
target/
proguard/
/target/
